.idea/
node_modules/
bower_components/
public/external/*
!public/external/babylonjs/
public/fonts/
public/content/common.babylon.manifest
public/modules/config/config.js
log/out.log
log/err.log
config/config.js