node_modules/
bower_components/
/serve/config/config.js
/client/src/modules/config/config.js
/client/dist
/config/nginx/ssl/nginx.crt
/config/nginx/ssl/nginx.key
log/out.log
log/err.log
/npm-debug.log
.idea/
